<!DOCTYPE html>
html(lang="en")
 include ../includes/head

 body 
   block content
   include ../includes/script



 .container
     .form-product
        
        if NoUser
         div.alert.alert-danger #{NoUser}
        
        form(action="/reset-password" method="POST")

                    .form-group.row 
                        label(for="email").col-sm-3.form-label User Name
                        .col-sm-9.mt-2
                         input(type="email" name="email").form-control#email


                    

                   
                    .form-group.row 
                        .col-sm-12.mt-4
                         button(type="submit").btn-form Login
                    
